{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ESOE OOP Judge</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'judge/css/base.css' %}">
    {% block css %}
    {% endblock %}
  </head>
  <body>
    {% if user.is_authenticated %}
    <div id="header_div">
      <nav id="header_nav">
        <ul>
          <div class="floatleft">
            <li><a href="{% url 'judge:index' %}">Home</a></li>
            <li><a href="{% url 'judge:problem_list' %}">Problems</a></li>
            <li><a href="{% url 'judge:profile' %}">Profile</a></li>
          </div>
          <div class="floatright">
            <li><a href="{% url 'judge:logout' %}">Logout</a></li>
          </div>
        </ul>
      </nav>
    </div>
    {% endif %}

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <div id="base_content_div">
    {% block content %}
    {% endblock %}
    </div>
    
    <footer>
      <h6>
        Developed by 梁浩穎 (B02505012) and 李蔚成 (B02505006).<br>
        Credits to <a target="_blank" href="http://ada2015.csie.org">ADA2015</a> for inspiration.
      </h6>
    </footer>
  </body>
</html>
