{% extends 'judge/base.html' %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block css %}
<link rel="stylesheet" href="{% static 'judge/css/login.css' %}">
{% endblock %}

{% block content %}
<h1>ESOE OOP Judge</h1>

<form method="post" action="{% url 'judge:login' %}">
  {% csrf_token %}

  {{ form.non_field_errors }}
  {% for field in form %}
  {{ field.errors }}
  <p>
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {{ field }}
  </p>
  {% endfor %}

  <input type="hidden" name="next" value="{{ next }}">

  <input type="submit" value="Login">
</form>
{% endblock %}
