{% extends 'judge/base.html' %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'judge/css/problem_list.css' %}">
{% endblock %}

{% block content %}
<div id="problem_list_div">
  <table>
    <thead>
      <tr>
        <th class="problem_id">ID</th>
        <th class="problem_title">Title</th>
        <th class="problem_hiscore">Hi-Score</th>
        <th class="problem_deadline">Deadline</th>
      </tr>
    </thead>
    <tbody>
      {% for problem, profile_hiscore in problem_profile_hiscore_list %}
      <tr>
        <td class="problem_id">{{ problem.pk }}</td>
        <td class="problem_title"><a href="{% url 'judge:problem_detail' problem.pk %}">{{ problem }}</a></td>
        <td class="problem_hiscore">{{ profile_hiscore }}</td>
        <td class="problem_deadline_datetime">{{ problem.deadline_datetime }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
