{% extends 'judge/base.html' %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'judge/css/problem_detail.css' %}">
{% endblock %}

{% block js %}
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endblock %}

{% block content %}
<div id="detail_div">
  <h2>{{ problem }}</h2>

  <div class="problem_div">
    <h3>Deadline</h3>
    <p>{{ problem.deadline_datetime }}.</p>
  </div>

  <div class="problem_div">
    <h3>Time Limit</h3>
    <p>{{ problem.time_limit }} ms.</p>
  </div>

  <div class="problem_div">
    <h3>Memory Limit</h3>
    <p>{{ problem.memory_limit }} MB{{ problem.memory_limit|pluralize }}.</p>
  </div>

  <div class="problem_div">
    <h3>Description</h3>
    <p>{{ problem.description|linebreaks }}</p>
  </div>

  <div class="problem_div">
    <h3>Input Format</h3>
    <p>{{ problem.input_format|linebreaks }}</p>
  </div>

  <div class="problem_div">
    <h3>Output Format</h3>
    <p>{{ problem.output_format|linebreaks }}</p>
  </div>

  <div class="problem_div">
    <h3>Sample Input</h3>
    <div class="sample_io">
      <p>{{ problem.sample_input|linebreaks }}</p>
    </div>
  </div>

  <div class="problem_div">
    <h3>Sample Output</h3>
    <div class="sample_io">
      <p>{{ problem.sample_output|linebreaks }}</p>
    </div>
  </div>

  <div class="problem_div">
    <h3>Required Files</h3>
    <ul>
      {% for requiredfile in problem.requiredfile_set.all %}
      <li>{{ requiredfile.filename }} ({{ requiredfile.get_via_display }})</li>
      {% endfor %}
    </ul>
  </div>
  <form method="post" action="{% url 'judge:problem_detail' problem.pk %}">
    {% csrf_token %}

    <input type="submit" value="Submit" id="required_files_btn">
  </form>
</div>

<div id="submissions_div">
  <h3>My Submissions</h3>
  <p id="hi-score_p">Hi-Score: {{ profile_hiscore }}</p>
  <table>
    <thead>
      <tr>
        <th class="submissions_id">ID</th>
        <th class="submissions_status">Status</th>
        <th class="submissions_score">Score</th>
        <th class="submissions_runningtime">Running Time</th>
        <th class="submissions_datetime">Submission Datetime</th>
      </tr>
    </thead>
    <tbody>
      {% for submission in profile_submission_list %}
      <tr>
        <td>{{ submission.pk }}</td>
        <td>{{ submission.get_status_display }}</td>
        <td>
          {% if submission.score %}
          {{ submission.score }}
          {% endif %}
        </td>
        <td>
          {% if submission.running_time %}
          {{ submission.running_time }} ms
          {% endif %}
        </td>
        <td>{{ submission.submission_datetime }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
