{% extends 'judge/base.html' %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block css %}
<link rel="stylesheet" href="{% static 'judge/css/profile.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'judge/js/profile.js' %}"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
<div id="content_div">
  <h2>{{ profile.user.username }} ({{ profile.user.first_name }})</h2>

  <form method="post" action="{% url 'judge:profile' %}">
    {% csrf_token %}

    <h3>Bitbucket Settings</h3>
    <div id="bitbucket_div">
      {# default class : "errorlist nonfield" #}
      {{ update_bitbucket_form.non_field_errors }}
      {% for field in update_bitbucket_form %}
      <div class="label_div">
        <label for="{{ field.id_for_label }}" class="bitbucket_label">{{ field.label }}</label>
      </div>
      <div class="field_div">
        {{ field|add_class:"bitbucket_field" }}
        {# default class: "errorlist" #}
        {{ field.errors }}
      </div>
      {% endfor %}
    </div>

    <h3>Change Password</h3>
    <div id="password_div">
      {{ password_change_form.non_field_errors }}
      {% for field in password_change_form %}
      <div class="label_div"> 
        <label for="{{ field.id_for_label }}" class="password_label">{{ field.label }}</label>
      </div>
      <div class="field_div">
        {{ field|add_class:"password_field" }}
        {{ field.errors }}
      </div>
      {% endfor %}
    </div>
    <input type="submit" value="Update" id="update_btn">
  </form>

  <div id="submissions_div">
    <h3>My Submissions</h3>
    <table id="submissions_table">
      <thead>
        <tr>
          <th class="submissions_id">ID</th>
          <th class="submissions_problem">Problem</th>
          <th class="submissions_status">Status</th>
          <th class="submissions_score">Score</th>
          <th class="submissions_runningtime">Running Time</th>
          <th class="submissions_datetime">Submission Datetime</th>
        </tr>
      </thead>
      <tbody>
        {% for submission in profile.submission_set.all %}
        <tr>
          <td>{{ submission.pk }}</td>
          <td><a href="{% url 'judge:problem_detail' submission.problem.pk %}">{{ submission.problem }}</a></td >
          <td>{{ submission.get_status_display }}</td>
          <td>
            {% if submission.score %}
            {{ submission.score }}
            {% endif %}
          </td>
          <td>
            {% if submission.running_time %}
            {{ submission.running_time }} ms
            {% endif %}
          </td>
          <td>{{ submission.submission_datetime }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
