{% extends 'judge/base.html' %}

{% block content %}
<h2>{{ profile.user.username }} ({{ profile.user.first_name }})</h2>

<h3>Bitbucket Settings & Change Password</h3>
<form method="post" action="{% url 'judge:profile' %}">
  {% csrf_token %}

  {{ update_bitbucket_form.as_p }}
  {{ password_change_form.as_p }}

  <input type="submit" value="Update">
</form>

<h3>My Submissions</h3>
<table>
  <tr>
    <td>ID</td>
    <td>Problem</td>
    <td>Status</td>
    <td>Score</td>
    <td>Running Time</td>
    <td>Submission Datetime</td>
  </tr>
  {% for submission in profile.submission_set.all %}
  <tr>
    <td>{{ submission.pk }}</td>
    <td><a href="{% url 'judge:problem_detail' submission.problem.pk %}">
        {{ submission.problem.is_sample|yesno:'(Sample) ,' }}{{ submission.problem.title }}
    </a></td>
    <td>{{ submission.get_status_display }}</td>
    <td>{{ submission.score }} / {{ submission.problem.testcase_amount }}</td>
    <td>{{ submission.running_time }} ms</td>
    <td>{{ submission.submission_datetime }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
