{% extends 'judge/base.html' %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'judge/css/submission_detail.css' %}">
{% endblock %}

{% block content %}
<h2 class="text-center">Submission #{{ submission.pk }}</h2>

<h3>Basic Information</h3>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="table-column-id">ID</th>
        <th class="table-column-problem">Problem</th>
        <th class="table-column-status">Status</th>
        <th class="table-column-datetime">Datetime</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="table-column-id"><a href="{% url 'judge:submission_detail' submission.pk %}">{{ submission.pk }}</a></td>
        <td class="table-column-problem"><a href="{% url 'judge:problem_detail' submission.problem.pk %}">{{ submission.problem.title }}</a></td>
        <td class="table-column-status">{{ submission.get_status_display }}</td>
        <td class="table-column-datetime">{{ submission.submission_datetime }}</td>
      </tr>
    </tbody>
  </table>
</div>

{% if submission.detailed_messages %}
<h3>Detailed Messages</h3>
<div id="detailed-messages">
  {{ submission.detailed_messages|safe|linebreaks }}
</div>
{% endif %}
{% endblock %}
