/* header element align */
*{
    margin: 0;
}

.floatleft {
    float: left;
}
.floatright {
    float: right;
}

html, body {
    height: 80%;
    font: caption;
}

#header_div {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    background-color: #483D8B;
    line-height: 20px;
}

#header_div ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#header_div ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#header_div ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    font-family: 'sans-serif', sans-serif;
    font-size: 17px;
    color: #ffffff;
}

#base_content_div {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -4em;
    margin-top: 100px;
}

#footer, #push{
    clear: both;
    height: 4em;
    text-align: center;
    margin-top: 30px;
}
