/* header element align */
* {
    margin: 0;
}

p {
    margin: 5px 0px;
}

h1 {
    font-size: 280%;
}

h2 {
    font-size: 230%;
}

h3 {
    font-size: 180%;
}

.floatleft {
    float: left;
}
.floatright {
    float: right;
}

html, body {
    height: 80%;
    font: caption;
}

#header_div {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    background-color: #FF9364;
    line-height: 20px;
}

#header_div ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#header_div ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#header_div ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    font-family: 'sans-serif', sans-serif;
    font-size: 17px;
    color: #ffffff;
}

#messages_div {
    margin-top: 100px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}

#messages_div ul li {
    border-radius: 5px;
    list-style: none;
    padding: 0px 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    vertical-align: middle;
    padding: 15px;
    margin: 15px;
}

.faded {
    opacity: 1;
}
/*
#close {
    float: right;
    display: inline-block;
    padding: 2px 5px;
    margin: 3px 3px;
    border: none;
    font-size: 20px;
    font-family: Consolas;
}*/

.success {
    background: #90EE90;
    color: #228B22;
}

.error {
    background: #F08080;
    color: #8B0000;
}

#close:hover {
    cursor: pointer;
    color: #556B2F;
}

#base_content_div {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -4em;
    margin-top: 100px;
}

#footer, #push {
    clear: both;
    height: 4em;
    text-align: center;
    margin-top: 30px;
}

#footer h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: 90%;
}