#index_div {
    box-shadow: 5px 5px 20px #483D8B;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    padding: 8px;
}

#index_div h2 {
    margin-left: 20px;
    margin-top: 20px;
}

#index_div ul {
	padding-bottom: 20px;    
}

#index_div ul li {
	padding: 5px;
}