#index_div {
    box-shadow: 5px 5px 20px #53829E;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    padding: 8px;
}

#index_div h2 {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#index_div ol {
    padding-bottom: 15px;
}

#index_div ol li {
    padding: 2px;
}