h1 {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 1em;
    color: #20a7ba;
    font-weight: bold;
}

.errorlist {
    font-size: 20px;
    list-style: none;
    width: 75%;
    padding: 15px 0px;
    text-align: center;
    color: #B22222;
    border-radius: 10px;
    margin: 0 auto;
}

#content_div {
    width: 80%;
    margin: 0 auto;
}

#login_div {
    margin-top: 50px;
    display: table;
    margin: auto;
}

.login_field {
    width: 100%;
    font-size: 25px;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 20px;
}

#submit_btn {
    width: auto;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    background: #53829E;
    color: #FFFFFF;
    position: relative;
    left: 35%;
    border: inherit;
}

#submit_btn:hover {
    cursor: pointer;
}