h2 {
    text-align: center;
}

#detail_div, #submissions_div {
    width: 80%;
    margin: 0 auto;
}

.problem_div {
    margin-top: 20px;
}

.sample_io {
    border: 1px solid #C0C0C0;
    background: #E4E4E4;
    border-radius: 5px;
    padding-left: 10px;
}

#submissions_div table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #D3D3D3;
    font-family: "Open Sans";
}

#submissions_div table thead {
    background: #D3D3D3;
}

td, th {
    padding: 5px;
    text-align: center;
}

td > a {
    text-decoration: none;
}

.submissions_id {
    width: 5%;
}
.submissions_status {
    width: 25%;
}
.submissions_score {
    width: 20%;
}
.submissions_runningtime {
    width: 20%;
}
.submissions_datetime {
    width: 30%;
}