#content_div {
    width: 80%;
    margin: 0 auto;
}

#content_div h3 {
    color: #483D8B;
    font-weight: bold;
}

.bitbucket_label, .password_label {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

/* Profile's bitbucket settings & change passwoard */
#bitbucket_div, #password_div {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.label_div {
    width: 100%;
}

.field_div {
    display: table;
    table-layout: fixed;
}

.bitbucket_field, .password_field {
    display: table-cell;
    width: 100%;
    border-radius: 2px;
    font-size: 20px;
    padding: 3px;
    margin-bottom: 10px;
}

.errorlist {
    display: table-cell;
    font-size: 15px;
    list-style: none;
    width: auto;
    color: #B22222;
}

#update_btn {
    width: auto;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    background: #6A5ACD;
    color: #FFFFFF;
    border: none;
}

#update_btn:hover {
    cursor: pointer;
}

h3 {
    padding-top: 30px;
}

#submissions_table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 18px;
}

#submissions_table thead {
    background: #D3D3D3;
}

#submissions_div table thead tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

#submissions_div table thead tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

#submissions_div table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

#submissions_div table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

#submissions_div table tbody tr td:first-child {
    border-left: 1px solid #D3D3D3;
}

#submissions_div table tbody tr td:last-child {
    border-right: 1px solid #D3D3D3;
}

#submissions_div table tbody tr:last-child td {
    border-bottom: 1px solid #D3D3D3;
}

tbody > tr:nth-child(even) {
    background: #EDEDED;
}

tr > th {
    text-align: center;
    padding: 5px;
    font-family: sans-serif, 'Open Sans';
    font-size: 18px;
}

tr > td {
    text-align: center;
    padding: 5px;
    font-family: sans-serif, 'Open Sans';
    font-weight: lighter;
    font-size: 17px;
    font-weight: lighter;
}

tr > td > a {
    text-decoration: none;
}

tr > td > a:hover {
    text-decoration: none;
}

.submissions_id {
    width: 10%;
}
.submissions_problem {
    width: 23%;
}
.submissions_status {
    width: 18%;
}
.submissions_score {
    width: 10%;
}
.submissions_runningtime {
    width: 15%;
}
.submissions_datetime {
    width: 24%;
}